div.tabbedmodalcloudembedded {position: relative}

div.tabbedmodalcloudembedded .cloudembeddedControl {
	position: absolute;
	right: -10px;
	bottom: -10px;
	z-index: 1000
}

div.tabbedmodalcloudembedded .results {
	font-weight: bold;
	padding: 10px;
}

.cloudembeddedControl.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.cloudembeddedModalDialog  .button-shareable-send,
.cloudembeddedModalDialog  .button-reset {
    display: inline;
}